---
layout: default
title: Furusho
---

<section id="" class="marquee marquee--adaptive">
	<div class="marquee_wrapper clearfix">
		<div class="marquee__slick">
			<div class="marquee__slide" style="background-image: url('images/slide1.jpg');">
				<div class="marquee__slide-wrapper">
					<div class="slide--text-left container">
						<div class="row">
							<div class="col-md-8">
								<h1 class="marquee__main-text">Creating happy healthy smiles one child at a time</h1>
								<h3 class="marquee__byline uppercase">Now Welcoming</h3>
								<h3 class="marquee__byline uppercase">New Patients</h3>
								<a href="" class="btn btn--inverted">New Patient Offers</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="marquee__slide" style="background-image: url('images/slide3.jpg');">
				<div class="marquee__slide-wrapper">
					<div class="container">
						<div class="col-md-5 col-sm-6">
							<div class="marquee__stars">
								{% include molecule/stars.html stars=5 %}
							</div>
							<div class="marquee__quote">
								<h3>“My three kids love them. Great team, very organized operation and state of the art technology is a
									recipe for success. Lastly and definitely not the least, they simply work great with KIDS!” </h3>
								<h3>–Ron N.</h3>
							<a href="" class="btn btn--inverted">Read Our Reviews</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="smooth-scroll-btn marquee__scroll-down">
      <a href="" data-href="#section__about">
        <h4 class="scroll__text">Scroll Down</h4>
        <img src="images/arrow-down.svg" alt="Down Arrow">
      </a>
    </div>
  </section>

<!-- 
	Section: Contact Info
-->
  <section id="contact-info">
		<div class="ui grid">
			<div class="ui row">
				<div class="ui eight wide column">
					<p>New Patient Hotline</p>
					<h2>(888) 540-7885</h2>
				</div>
				<div class="ui eight wide column">
					<a class="ui basic button">Request Appointment</a>
				</div>
			</div>
			<div class="ui row">
				<div class="ui sixteen wide column">
					<p class="ui center aligned text">
						Existing patient of our practice call: <a href="tel:+17735450007">(773) 545-0007</a>
					</p>
				</div>
			</div>
		</div>
	</section>
<!-- 
	#contact-info
-->

  <section id="section__about" class="about">
    <div class="about__content clearfix">
      <div class="background-light-green about__first-section">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <h5 class="about__lead-quote">
              We’ve been fortunate to help thousands of kids grow into fearless adult patients who enjoy visiting the dentist. We would be honored if you stopped by for a free office tour with your child, and give us an opportunity&nbsp;to&nbsp;earn&nbsp;your&nbsp;trust.</h5>
            <p class="quoty">–Drs. Kirk Kollmann and Cissy Furusho</p>
          </div>
        </div>
      </div>
      <div class="about__second-section">
        <div class="about__image center">
          <img src="images/circle-bios.jpg" alt="Kollman and Furusho">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 about__more">
              <h3 class="font-accent-purple">What is a Pediatric Dentist?</h3>
              <p>Pediatric dentists have an additional 2-3 years of training to learn how to deal with the behavioral
                aspects of children, how to make them feel comfortable, and to make the experience pleasant in addition to
                clinical techniques specific to children. <span class="font--highlight">We are especially trained and qualified to treat patients with
              special needs.</span></p>
              <a class="font-accent-purple" href="patients.html#">Read More</a>
            </div>
            <div class="col-md-6 about__more">
              <h3 class="font-accent-purple">What Makes  Dentistry for Kids Special?</h3>
              <p>We make an extra effort to create an exciting environment which makes a big difference, especially in the
                case of the very apprehensive family. <span class="font--highlight">By bringing your child to a pediatric dentist as early as age one
              year</span>, you can ensure the timely prevention of dental disease and at the same time provide your child with
                an upbeat experience that can last a lifetime.</p>
              <a class="font-accent-purple" href="services.html#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-specials" class="specials section-padding" style="background-image: url('images/specials-bkgd.jpg');">
    <div class="heading specials__heading heading--small">
      <h2 class="font-accent-white">New Patient Specials</h2>
      <h4 class="font-accent-white">Offers end September 20, 2016</h4>
    </div>
    <div class="specials__content">
      <div class="row row-height-wrapper">
        <div class="specials__tile col-sm-6 col-md-4 col-md-offset-2">
          <div>
            <h3 class="font-accent-purple">Children's New Patient&nbsp;Dental Exam</h3>
            <h2 class="font-accent-purple">$75</h2>
            <p>Save $57</p>
            <p>Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and a
              comprehensive exam.</p>
            <p>(D0150, D0272)</p>
          </div>
        </div>
        <div class="specials__tile col-sm-6 col-md-4">
          <div>
            <h3 class="font-accent-purple">Children's Dental&nbsp;Cleaning and Fluoride</h3>
            <h2 class="font-accent-purple">$45</h2>
            <p>Save $52</p>
            <p>Patients 12 and under receive a professional dental cleaning and topical varnish application. A new patient dental exam is required.</p>
            <p>(D1120, D1208)</p>
          </div>
        </div>
      </div>
      <div class="row row-height-wrapper">
        <div class="specials__tile col-sm-6 col-md-4 col-md-offset-2">
          <h2 class="font-accent-purple">FREE</h2>
          <h3 class="font-accent-purple">Prenatal Consultation</h3>
          <p>Expecting parents are encouraged to call us for a brief consultation regarding infant dental care and what to expect in the early years.</p>
        </div>
        <div class="specials__tile col-sm-6 col-md-4">
          <h2 class="font-accent-purple">FREE</h2>
          <h3 class="font-accent-purple">Children Under Two</h3>
          <p>Bring your child in before his or her second birthday for a free exam and oral hygiene instruction.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="section-reviews" class="reviews background-light-purple">
    <div class="reviews__heading heading heading--small background-light-purple">
      <h2>See What Parents are Saying</h2>
    </div>

    <div class="reviews__main" style="background-image: url('images/home-testimonials.jpg')">

      <div class="reviews__slider__wrapper">
        <section class="reviews__slider">
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 %}
            <p class="reviews__review">I was myself always a little bit skeptical about dentists. When I was looking for a dentist for our girls, I had to make sure first, that it was an attractive and fun place... Very friendly staff.</p>
            <p class="quoty reviews__quoty">Dina M.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">My older son is a sweet guy... but a big scardy cat. I had MUCH anxiety about his first dentist visit two years ago. Turns out, I had no reason to fear. He loooooves going to the dentist and I'm so grateful. We've seen both dentists (I think there's only two in the practice?) and they're both very kind.</p>
            <p class="quoty reviews__quoty">Natalie S.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">This practice is amazing. My son has special needs and in the past we've had to have him anesthatized or I've attempted to coax him into getting care. Here they don't believe in sedation and they NEVER make the parents intervene. So far, for my child who was never previously able to sit still for so much as a fluoride treatment they've: -Taken x-rays -Filled a tooth -Sealed four teeth They also call back after the appointment to check in. Lovely staff, great practice.</p>
            <p class="quoty reviews__quoty">Megan M.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">I love this place! Very organized and kind here. My son loves it and he has some special needs. The fact that they're patient with him was a huge plus!</p>
            <p class="quoty reviews__quoty">Lizette P.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">My 4 year old loves it here to the point that when I had to cancel an appointment, he was upset and insisted that he wanted to go to the dentist that day!... I'm so glad we found this place as I had really hoped to find a dentist that my son didn't mind going to. Lucky for us, he actually loves it there.</p>
            <p class="quoty reviews__quoty">s m.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">Great pediatric dentist office!  I've been taking my son here for over 10 years now.  The staff is very kind and respectful...  I highly recommend this office for your child.</p>
            <p class="quoty reviews__quoty">Melissa M.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">We took our 1.5 and 2.5 year old kids here for their first visit to the dentist. We immediately felt at ease and were warmly welcomed by the office staff. There were toys for the kids to play with and even though my little boy went back in tears, in no time at all he was sitting comfortable in the chair and getting his teeth cleaned... I would highly recommend this dental office for anyone looking for a pediatric dentist.</p>
            <p class="quoty reviews__quoty">Julie T.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">We drive over 40 miles (and past another 40 ped. dentists) to go here.  They are the only pediatric dentists we have found that use no anesthesia...  I think these dentists take a very no nonsense but calm and loving approach to dentistry, which is exactly how it should be.</p>
            <p class="quoty reviews__quoty">RoxAnne T.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">My kids love coming here.  Really, they do!  Everyone is so friendly, from the front desk to the dentists (we've seen Drs Berman and Furusho).  True, they don't let parents in the back during the cleanings or exams, but fortunately my kids have handled this well and hopefully will continue to.</p>
            <p class="quoty reviews__quoty">L T.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">My three kids love them. Bring and whole new experience of go to the dentist for them and me. Great staff, very organized operation and state of the art technology is a recipe for success. Lastly and definitely not the least, they simply work great with KIDS</p>
            <p class="quoty reviews__quoty">Ron N.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">I found this office through Children's Memorial Hospital as one of the dentists is part of Children's Cleft Team. Now both my children use Dentistry for kids. Dr. Kohlman is a caring dentist who takes the time to explain his findings and plans to both the child and the parents. Further the front desk staff is polite and professional and the waiting area has plenty of things to keep your kids busy on the off-chance you have a small wait.</p>
            <p class="quoty reviews__quoty">Eileen E.</p>
          </div>
          <div class="review__slide center">
            {% include molecule/stars.html stars=5 s-class=review__stars %}
            <p class="reviews__review">I love this place. The staff is wonderful! This is a great place to take your child that has high anxiety about going to the dentist!</p>
            <p class="quoty reviews__quoty">Mama L.</p>
          </div>
        </section>
      </div>


    </div>
  </section>

  {% include organisms/contact.html additional=true %}

</div>
