---
layout: default
title: Furusho
---


{% include marquee-1.html %}
<!--
	Section: Contact Info
-->
<section id="contact-info" class="ui furusho light-blue-segment-bg margin-bottom">
	<div class="ui container">
		<div class="ui centered padded grid">
			<div class="ui row">
				<div class="ui six wide right aligned column">
					<span class="ui furusho xtra-dark-purple-txt">New Patient Hotline</span>
					<h2 class="ui furusho xtra-dark-purple-txt">(888) 540-7885</h2>
				</div>
				<div class="ui six wide column">
					<a class="ui massive purple button furusho purple-btn appt-modal-pop">Request Appointment</a>
				</div>
			</div>
			<div class="ui row">
				<div class="ui sixteen wide center aligned column">
					<p class="ui furusho xtra-dark-purple-txt">
						Existing patient of our practice call: <a href="tel:+17735450007" class="ui furusho xtra-dark-purple-txt">(773) 545-0007</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
	/ #contact-info
-->

{% include about-section.html %}

<!--
	Section: New Patient Specials
-->
<section id="new-patient-specials" class="ui inverted">
	<div class="ui stackable centered padded grid">
		<div class="ui row">
			<div class="heading specials__heading heading--small">
				<h2 class="ui furusho white-txt font-extra-bold">New Patient Specials</h2>
				<h3 class="ui furusho offer-ends-font white-txt">Offers ends September 20, 2016</h3>
			</div>
		</div>
		<div class="ui row">
			<div class="ui five wide column">
				<div class="ui furusho fluid purple card">
					<div class="ui center aligned content">
						<h4 class="furusho purple-txt font-bold">Children's New Patient&nbsp;Dental Exam</h4>
						<span class="price furusho purple-txt">$75</span>
					<p class="description">Save $57</p>
					<p class="description">Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and acomprehensive exam.</p>
					<p class="ui meta">(D0150, D0272)</p>
				</div>
				</div>
				</div>
				<div class="ui five wide column">
				<div class="ui furusho fluid purple card">
					<div class="ui center aligned content">
						<h4 class="furusho purple-txt font-bold">Children's Dental&nbsp;Cleaning and Fluoride</h4>
						<span class="furusho price purple-txt">$45</span>
						<p class="ui description">Save $52</p>
						<p class="ui description">Patients 12 and under receive a professional dental cleaning and topical varnish application. A new patient dental exam is required.</p>
						<p class="ui meta">(D1120, D1208)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="ui row">
			<div class="ui five wide column">
				<div class="ui furusho fluid purple card">
					<div class="ui center aligned content">
									<h2 class="furusho purple-txt font-bold">FREE</h2>
				<h3 class="furusho purple-txt offer-ends-font">Prenatal Consultation</h3>
				<p class="ui description">Expecting parents are encouraged to call us for a brief consultation regarding infant dental care and what to expect in the early years.</p>
					</div>
				</div>
			</div>
						<div class="ui five wide column">
			<div class="ui fluid card furusho purple">
					<div class="ui center aligned content">
					<h2 class="furusho purple-txt font-bold">FREE</h2>
					<h4 class="furusho purple-txt offer-ends-font">Children Under Two</h4>
					<p class="ui description">Bring your child in before his or her second birthday for a free exam and oral hygiene instruction.</p>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>

<!--
	Section: Patient Reviews Section
-->
<section id="patient-reviews" class="furusho light-purple-bg">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui sixteen wide center aligned column">
				<h2 class="ui furusho purple-txt">See What Parents are Saying</h2>
			</div>
		</div>
	</div>
</section>
<!--
	/# patient-reviews
-->

<section id="reviews-carousel" class="margin-bottom">

	<div class="reviews__main" style="background-image: url('img/home-testimonials.jpg')">

		<div class="reviews__slider__wrapper">
			<section class="reviews__slider">
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">I was myself always a little bit skeptical about dentists. When I was looking for a dentist for our girls, I had to make sure first, that it was an attractive and fun place... Very friendly staff.</p>
					<p class="quoty reviews__quoty">Dina M.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">My older son is a sweet guy... but a big scardy cat. I had MUCH anxiety about his first dentist visit two years ago. Turns out, I had no reason to fear. He loooooves going to the dentist and I'm so grateful. We've seen both dentists (I think there's only two in the practice?) and they're both very kind.</p>
					<p class="quoty reviews__quoty">Natalie S.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">This practice is amazing. My son has special needs and in the past we've had to have him anesthatized or I've attempted to coax him into getting care. Here they don't believe in sedation and they NEVER make the parents intervene. So far, for my child who was never previously able to sit still for so much as a fluoride treatment they've: -Taken x-rays -Filled a tooth -Sealed four teeth They also call back after the appointment to check in. Lovely staff, great practice.</p>
					<p class="quoty reviews__quoty">Megan M.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">I love this place! Very organized and kind here. My son loves it and he has some special needs. The fact that they're patient with him was a huge plus!</p>
					<p class="quoty reviews__quoty">Lizette P.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">My 4 year old loves it here to the point that when I had to cancel an appointment, he was upset and insisted that he wanted to go to the dentist that day!... I'm so glad we found this place as I had really hoped to find a dentist that my son didn't mind going to. Lucky for us, he actually loves it there.</p>
					<p class="quoty reviews__quoty">s m.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">Great pediatric dentist office!  I've been taking my son here for over 10 years now.  The staff is very kind and respectful...  I highly recommend this office for your child.</p>
					<p class="quoty reviews__quoty">Melissa M.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">We took our 1.5 and 2.5 year old kids here for their first visit to the dentist. We immediately felt at ease and were warmly welcomed by the office staff. There were toys for the kids to play with and even though my little boy went back in tears, in no time at all he was sitting comfortable in the chair and getting his teeth cleaned... I would highly recommend this dental office for anyone looking for a pediatric dentist.</p>
					<p class="quoty reviews__quoty">Julie T.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">We drive over 40 miles (and past another 40 ped. dentists) to go here.  They are the only pediatric dentists we have found that use no anesthesia...  I think these dentists take a very no nonsense but calm and loving approach to dentistry, which is exactly how it should be.</p>
					<p class="quoty reviews__quoty">RoxAnne T.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">My kids love coming here.  Really, they do!  Everyone is so friendly, from the front desk to the dentists (we've seen Drs Berman and Furusho).  True, they don't let parents in the back during the cleanings or exams, but fortunately my kids have handled this well and hopefully will continue to.</p>
					<p class="quoty reviews__quoty">L T.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">My three kids love them. Bring and whole new experience of go to the dentist for them and me. Great staff, very organized operation and state of the art technology is a recipe for success. Lastly and definitely not the least, they simply work great with KIDS</p>
					<p class="quoty reviews__quoty">Ron N.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">I found this office through Children's Memorial Hospital as one of the dentists is part of Children's Cleft Team. Now both my children use Dentistry for kids. Dr. Kohlman is a caring dentist who takes the time to explain his findings and plans to both the child and the parents. Further the front desk staff is polite and professional and the waiting area has plenty of things to keep your kids busy on the off-chance you have a small wait.</p>
					<p class="quoty reviews__quoty">Eileen E.</p>
				</div>
				<div class="review__slide center">
					{% include stars.html stars=5 %}
					<p class="reviews__review">I love this place. The staff is wonderful! This is a great place to take your child that has high anxiety about going to the dentist!</p>
					<p class="quoty reviews__quoty">Mama L.</p>
				</div>
			</section>
		</div>

	</div>
</section>

{% include new-patient-hotline-address.html %}
{% include request-appointment-modal.html %}
