---
layout: default
title: Infant Frenectomy
---

<!-- 
	Header: Infant Frenectomy 
-->
<header id="infant-frenectomy-header">
	<div class="ui container">
		<div class="ui padded grid">
			<div class="ui seven wide left aligned column">
				<h2 class="ui header furusho dark-blue-txt">Discover how simple this procedure can keep your baby smiling</h2>
			</div>				
		</div>
	</div>
</header>
<!-- 
	/#infant-frenectomy-header
-->

{% include new-patient-hotline.html %}

<!-- 
	Section: The First Dental Visit
-->
<section id="first-dental-visit" class="ui furusho light-purple-bg margin-bottom">
	<div class="ui container">
		<div class="ui padded grid">
			<div class="ui row">
				<div class="ui sixteen wide center aligned column">
					<h2 class="ui furusho purple-txt">Infant Frenectomy</h2>
				</div>
			</div>
			<div class="ui row">
				<div class="ui five wide left aligned column">
					<img src="/img/frenectomy-photo.jpg" alt="Infant Frenectomy image">
				</div>
				<div class="ui ten wide column">
					<h3 class="ui furusho purple-txt">What is a Lip Tie or Tongue Tie?</h3>
<p class="ui description">Well before your baby is born, you are committed to doing everything possible to help him or her grow up happy, strong and healthy. Sometimes, you both need extra help to accomplish this, and one common but easily treated problem some parents and infants face is a restrictive frenum. This is also called a frenulum and is commonly known as tongue-tie or lip-tie.</p>

<p class="ui description">A frenum is a stretch of tissue that connects and holds other tissues in place. The lingual frenum is the tissue under the tongue connecting the tongue to the floor of the mouth. The maxillary labial frenum is the tissue attaching the upper lip to the mouth.</p>
					<h3 class="ui furusho purple-txt">What is a Frenectomy?</h3>
<p class="ui description">For a newborn, lip-tie or tongue-tie can make breastfeeding difficult for the infant and painful for the mother because the lip and/or tongue's limited movement prevents the infant from properly latching on and drawing milk from the breast. If left untreated, it can eventually impair the child's speech and proper tooth alignment. The newborns we treat should nurse immediately and sometimes moms will notice a very significant difference both in the quantity that the newborn consumes as well as their personal comfort while nursing.</p>

<p class="ui description">Lip-tie and tongue-tie can be corrected by a procedure called frenectomy/ frenotomy. This can be performed with scissors or a soft tissue laser. It is a simple in office procedure which can be performed by Dr. Kollmann or Dr. Furusho. Together, we'll do everything possible to help your little one grow up happy, strong and healthy.</p>
				</div>
			</div>	
			</div>
		</div>
</section>
<!-- 
	/#first-dental-visit
-->

{% include new-patient-hotline-address.html %}