---
layout: default
title: Services
---

<!--
	Header: Services Header
-->
<header id="services-header" class="">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui row">
				<div class="ui nine wide right floated column">
					<h1 class="ui furusho white-txt ">Find out more about Dentistry for Kids</h1>
				</div>
			</div>
			<div class="ui row">
				<div class="ui sixteen wide center aligned column">
					<span class="ui center aligned furusho white-txt">Scroll Down <br><i class="fa fa-angle-down fa-fw"></i></span>
				</div>
			</div>
		</div>
	</div>
</header>
<!--
	/#services-header
-->

<!-- pulls new patient hotline from _includes folder -->
{% include new-patient-hotline.html %}

<!--
	Section: Pediatric Services
-->
<section id="pediatric-services" class="ui ">
	<div class="ui container">
		<div class="ui centered grid">
			<div class="ui row">
				<div class="ui sixteen wide column">
					<h2 class="ui center aligned header furusho purple-txt">Pediatric Services</h2>
				</div>
			</div>
			<div class="ui row">

				<div class="ui center aligned padded cards">
					<div id="infant-frenectomy" class="ui card">
						<div class="ui image">
							<img src="/img/services/frenectomy.jpg" class="visible content" alt="Infant Frenectomy image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Infant Frenectomy</span>
							</div>
						</div>
					</div>
					<div id="fillings" class="ui card">
						<div class="ui image">
							<img src="/img/services/fillings.jpg" class="visible content" alt="Fillings">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Fillings</span>
							</div>
						</div>
					</div>
					<div id="crowns" class="ui card">
						<div class="ui image">
							<img src="/img/services/crowns.jpg" class="visible content" alt="Crowns image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Crowns</span>
							</div>
						</div>
					</div>
					<div class="ui divider"></div>
					<div id="space-maintainers" class="ui card">
						<div class="ui image">
							<img src="/img/services/space-maintainers.jpg" class="visible content" alt="Space Maintainers image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Space Maintainers</span>
							</div>
						</div>
					</div>
					<div id="mouth-guards" class="ui card">
						<div class="ui image">
							<img src="/img/services/mouth-guards.jpg" class="visible content" alt="Mouth Guards image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Mouth Guards</span>
							</div>
						</div>
					</div>
					<div id="pulpotomy" class="ui card">
						<div class="ui image">
							<img src="/img/services/pulpotomy.jpg" class="visible content" alt="Pulpotomy image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Pulpotomy (baby root canal)</span>
							</div>
						</div>
					</div>
					<div id="orthodontic-treatment" class="ui card">
						<div class="ui image">
							<img src="/img/services/child-orthodontics.jpg" class="visible content" alt="Orthodontic Treatment image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Orthodontic Treatment</span>
							</div>
						</div>
					</div>
					<div id="sealants" class="ui card">
						<div class="ui image">
							<img src="/img/services/sealants.jpg" class="visible content" alt="Sealants image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Sealants</span>
							</div>
						</div>
					</div>
					<div id="digital-x-rays" class="ui card">
						<div class="ui image">
							<img src="/img/services/digital-xrays.jpg" class="visible content" alt="Digital x-rays image">
						</div>
						<div class="content">
							<div class="center aligned description">
								<span>Digital x-rays</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
	/#pediatric-services
-->

<!-- pulls new patient hotline address from _includes folder -->
{% include new-patient-hotline-address.html %}

<!--
	Header: Services Header
-->
<section id="about-fixing-teeth" class="ui furusho light-purple-bg">
	<div class="ui padded centered grid">
		<div class="ui row">
			<h2 class="ui furusho purple-txt">About Fixing Teeth</h2>
		</div>
		<div class="ui row">
			<div class="ui six wide left aligned column">
				<p class="ui text">When a child's teeth have been damaged by dental decay, trauma or congenital defects, we carefully consider several factors before making a decision as to how to fix those teeth. Some of these factors include the age of the child, how severely the tooth has been damaged, and in the case of a baby tooth, how long that tooth has to function in the mouth. The relative importance of esthetics versus durability often determines which filling material we use. In any case, we believe in doing a procedure once and doing it right.</p>
				<p class="ui text">Our decisions for treating your child are never based on finances or insurance especially if it compromises the quality of treatment your child receives. We will discuss all the options with you but we hope you trust us to choose the methods and materials that will provide the best long-term results for you and your children and that our recommendations will always be in the best interest of your child... who is Number One.</p>
				<p>Prevention is always better than treatment. By actively preventing disease and decay through regular home care, professional dental cleanings and regular exams, your child will maintain a healthy, beautiful smile.</p>
			</div>
			<div class="ui six wide column">
				<img src="/img/furusho-interaction.jpg" class="ui responsive image" alt="Furusho Interaction image">
			</div>
		</div>

	</div>
</section>
<!--
	/#services-header
-->

<!--- INSERT HOTLINE WITHOUT ADDRESS -->


<!--- MODAL BOXES --->

{% include services-modals.html %}
