<section id="section__about" class="about margin-bottom">
  <div class="about__content clearfix">
    <div class=" about__first-section furusho lightgray-bg">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
          <h5 class="about__lead-quote">
            We’ve been fortunate to help thousands of kids grow into fearless adult patients who enjoy visiting the dentist. We would be honored if you stopped by for a free office tour with your child, and give us an opportunity&nbsp;to&nbsp;earn&nbsp;your&nbsp;trust.</h5>
          <p class="quoty">–Drs. Kirk Kollmann and Cissy Furusho</p>
        </div>
      </div>
    </div>
    <div class="about__second-section">
      <div class="about__image center">
        <img src="img/circle-bios.jpg" alt="Kollman and Furusho">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 about__more">
            <h3 class="furusho purple-txt">What is a Pediatric Dentist?</h3>
            <p>Pediatric dentists have an additional 2-3 years of training to learn how to deal with the behavioral
              aspects of children, how to make them feel comfortable, and to make the experience pleasant in addition to
              clinical techniques specific to children. <span class="furusho light-purple-txt">We are especially trained and qualified to treat patients with
              special needs.</span></p>
            <a class="furusho purple-txt" href="patients.html#">Read More</a>
          </div>
          <div class="col-md-6 about__more">
            <h3 class="furusho purple-txt">What Makes  Dentistry for Kids Special?</h3>
            <p>We make an extra effort to create an exciting environment which makes a big difference, especially in the
              case of the very apprehensive family. <span class="furusho light-purple-txt">By bringing your child to a pediatric dentist as early as age one
              year</span>, you can ensure the timely prevention of dental disease and at the same time provide your child with
              an upbeat experience that can last a lifetime.</p>
            <a class="furusho purple-txt" href="services.html#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>