<section id="associations-section" class="ui">
  <!--<div class="ui container">-->
    <!--<div class="ui padded grid">-->
      <div class="associations-slider">
        <div class="associations-slide">
          <img src="/img/associations/aapd.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/acd.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/abpd.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/aap.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/ada.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/ald.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/cds.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/iatp.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/ilca.png" alt="">
        </div>
        <div class="associations-slide">
          <img src="/img/associations/isds.png" alt="">
        </div>
      </div>

    <!--</div>-->
  <!--</div>-->
</section>