<section id="marquee-1" class="margin-bottom">

  <div class="">

    <div class="marquee__slider__wrapper">

      <section class="marquee__slider">
        <div class="marquee__slide">
          <img src="img/slide1.jpg" alt="">


          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui twelve wide left aligned column">
                  <h1>Creating happy<br>healthy smiles<br>one child at a time</h1>
                  <h3>NOW WELCOMING <br>NEW PATIENTS</h3>
                  <a class="ui massive yellow button furusho purple-btn">NEW PATIENT OFFERS</a>
                </div>
              </div>
            </div>

          </div>


        </div>

        <div class="marquee__slide">
          <img src="img/slide3.jpg" alt="">
          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui six wide left aligned column">
                  <div class="stars">

                    <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>

                    <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>

                    <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>

                    <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>

                    <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>

                  </div>
                  <h4>“My three kids love them. Great team, very organized operation and state of the art technology is
                    a recipe for success. Lastly and definitely not the least, they simply work great with KIDS!” </h4>
                  <h4>–Ron N.</h4>
                  <a class="ui massive yellow button furusho purple-btn">READ OUR REVIEWS</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>

  </div>
</section>
