<section id="marquee-1" class="margin-bottom">

  <div class="">

    <div class="marquee__slider__wrapper">

      <section class="marquee__slider">
        <div class="marquee__slide">
          <img src="img/slide1.jpg" alt="">


          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui twelve wide left aligned column">
                  <h1>Creating happy<br>healthy smiles<br>one child at a time</h1>
                  <h2>NOW WELCOMING NEW PATIENTS</h2>
                </div>
              </div>
            </div>

          </div>


        </div>

        <div class="marquee__slide">
          <img src="img/slide3.jpg" alt="">
          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui twelve wide left aligned column">
                  <h2>“My three kids love them. Great team, very organized operation and state of the art technology is
                    a recipe for success. Lastly and definitely not the least, they simply work great with KIDS!” </h2>
                  <h2>–Ron N.</h2>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>

  </div>
</section>