<section id="marquee-tour" class="margin-bottom">

  <div class="">

    <div class="marquee__slider__wrapper">

      <section class="marquee__slider">
        <div class="marquee__slide--tour">
          <img src="img/tour/tour1.jpg" alt="">


          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui sixteen wide center aligned column">
                  <h1>Scheduling your first<br>appointment is easy!</h1>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="marquee__slide">
          <img src="img/tour/tour2.jpg" alt="">


          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui sixteen wide center aligned column">
                  <h1>Scheduling your first<br>appointment is easy!</h1>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="marquee__slide">
          <img src="img/tour/tour3.jpg" alt="">


          <div class="slide-container">

            <div class="ui padded grid">
              <div class="ui row">
                <div class="ui sixteen wide center aligned column">
                  <h1>Scheduling your first<br>appointment is easy!</h1>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>

    </div>
  </div>


</section>
