<div class="ui grid">
  <div class="computer tablet only row">
    <div class="ui fixed menu navbar page grid furusho purple-bg">
      <a href="index.html#section-specials" class="ui item furusho yellow-txt uppercase-txt">New Patient Specials</a>
			<a href="index.html#section-reviews" class="ui item furusho light-green-txt uppercase-txt">Patient Reviews</a>
			<a href="meet-the-team.html" class="ui item furusho white-txt uppercase-txt">Meet the Team</a>
			<a href="patients.html" class="ui item furusho white-txt uppercase-txt">Patients</a>
			<a href="services.html" class="ui item furusho white-txt uppercase-txt">Services</a>
			<a href="infant-frenectomy.html" class="ui item furusho white-txt uppercase-txt">Infant Frenectomy</a>	
			<a href="contact.html" class="ui item furusho white-txt uppercase-txt">Contact</a>			
    </div>
  </div>
  <div class="mobile only row">
      <div class="ui fixed inverted navbar menu">
          <a href="" class="brand item">Project Name</a>
          <div class="right menu open">
              <a href="" class="menu item">
                  <i class="content icon"></i>
              </a>
          </div>
      </div>
      <div class="ui vertical navbar menu">
          <a href="" class="active item">Home</a>
          <a href="" class="item">About</a>
          <a href="" class="item">Contact</a>
          <div class="ui item">
              <div class="text">Dropdown</div>
              <div class="menu">
                  <a class="item">Action</a>
                  <a class="item">Another action</a>
                  <a class="item">Something else here</a>
                  <a class="ui aider"></a>
                  <a class="item">Seperated link</a>
                  <a class="item">One more seperated link</a>
                </div>
          </div>
          <div class="menu">
              <a href="" class="active item">Default</a>
              <a href="" class="item">Static top</a>
              <a href="" class="item">Fixed top</a>
          </div>
      </div>
  </div>
</div>
<div class="ui page grid main">
  <div class="row">
    <div class="column padding-reset">
      <div class="ui large message">
        <h1 class="ui huge header">Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <br><br><br><br><br><br><br><br><br><br>
        <a href="" class="ui blue button">View navbar docs »</a>
      </div>
    </div>
  </div>
</div>