<!--
	Section: #new-patient-hotline
-->
<section id="new-patient-hotline" class="ui furusho light-blue-segment-bg margin-bottom">
	<div class="ui container">
		<div class="ui centered padded grid">
			<div class="ui row">
				<div class="ui six wide right aligned column">
					<span class="ui furusho xtra-dark-purple-txt">New Patient Hotline</span>
					<h2 class="ui furusho xtra-dark-purple-txt">(888) 540-7885</h2>
				</div>
				<div class="ui six wide column">
					<a class="ui massive purple button furusho purple-btn appt-modal-pop">Request Appointment</a>
				</div>
			</div>
			<div class="ui row">
				<div class="ui sixteen wide center aligned column">
					<p class="ui furusho xtra-dark-purple-txt">
						Existing patient of our practice call: <a href="tel:+17735450007" class="ui furusho xtra-dark-purple-txt">(773) 545-0007</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
	/ #new-patient-hotline
-->
