<!-- 
	Section: #new-patient-hotline-address
-->	
<section id="new-patient-hotline-address" class="ui furusho light-blue-segment-bg margin-bottom">
	<div class="ui centered padded grid">
		<div class="ui row">
			<div class="ui six wide right aligned column">
				<span class="ui furusho xtra-dark-purple-txt">New Patient Hotline</span>
				<h3 class="ui furusho xtra-dark-purple-txt">(888) 540-7885</h3>
			</div>
			<div class="ui six wide column">
				<a class="ui massive purple button furusho purple-btn">Request appointment</a>
			</div>
		</div>
		<div class="ui row">
			<p class="furusho xtra-dark-purple-txt">Existing patients of our practice call (773) 545-0007</p>
		</div>
		<div class="ui divider"></div>
			<div class="ui row">
				<div class="row row-height-wrapper">
					<address class="ui center furusho xtra-dark-purple-txt">
						4801 West Peterson, Suite 410 <br>
						Chicago, IL 60646 
					</address>
				</div>
			</div>
	</div>
</section>
<!-- 
	/ #new-patient-hotline-address
-->	