<!-- 
	Footer: #primary-footer
-->
<footer id="primary-footer" class="ui inverted grey straight segment">
	<div class="ui fluid container">
		<div class="ui grid">
			<div class="ui four wide column">
				<a target="_blank" href="https://www.facebook.com/Dentistry-for-Kids-Ltd-Dr-Furusho-Dr-Kollmann-293517314003627/">
					<img src="/img/facebook_round_blue.svg" alt="Furusho logo" class="ui extra small image">
				</a>
			</div>
			<div class="ui eight wide column">
				<p class="footer__text">
					Copyright &copy; 2016. All Rights Reserved by 
					<a href="http://www.tysonsteele.com" class="furusho white-txt" target="_blank">Tyson Steele Associates</a>. 
					<a href="http://www.tysonsteele.com" class="furusho white-txt" target="_blank">Privacy Policy</a>
				</p>
			</div>
			<div class="ui four wide column">
			
			</div>			
		</div>
	</div>
</footer>
<!--
	/#primary-footer
-->