<!-- 
	Nav: Primary Nav
-->
<nav id="primary-nav" class="ui seven item sticky menu">
		<li class="ui item">
			<a href="index.html#section-specials" class="furusho yellow-txt uppercase-txt">New Patient Specials</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-reviews" class="furusho light-green-txt uppercase-txt">Patient Reviews</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-specials" class="furusho white-txt uppercase-txt">Meet the Team</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-reviews" class="furusho white-txt uppercase-txt">Patients</a>
		</li>		
		<li class="ui item">
			<a href="index.html#section-specials" class="furusho white-txt uppercase-txt">Services</a>
		</li>		
		<li class="ui item" >
			<a href="/" class="furusho white-txt uppercase-txt">Infant Frenectomy</a>
		</li>
		<li class="ui item" >
			<a href="{{ item.link.url }}" class="furusho white-txt uppercase-txt">Contact</a>
		</li>		
</nav>
<!-- 
	/#primary-nav
-->