<!-- 
	Nav: Primary Nav
-->
<nav id="primary-nav" class="clearfix">
	<ul class="ui vertical list">
		<li class="ui item">
			<a href="index.html#section-specials" >New Patient Specials</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-reviews">Patient Reviews</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-specials" >Meet the Team</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-reviews">Patients</a>
		</li>		
		<li class="ui item">
			<a href="index.html#section-specials" >Services</a>
		</li>		
		<li class="ui item" >
			<a href="{{ item.link.url }}">Infant Frenectomy</a>
		</li>
		<li class="ui item" >
			<a href="{{ item.link.url }}">Contact</a>
		</li>		
	</ul>
</nav>
<!-- 
	/#primary-nav
-->