<!--
	Header: Primary Header
-->
<header id="primary-header" class="">
	<div class="ui padded grid">
		<div class="ui row">
			<div class="ui seven wide left aligned column">
				<a href="index.html">
					<img src="/img/furusho-masthead-logo.png" class="ui responsive image" alt="Dentistry for Kids logo">
				</a>
			</div>
		<div class="ui eight wide right aligned column">
			<ul class="ui list furusho-list">
				<div class="ui item">
					<p class="furusho green-txt">Just off Edens Expressway (Hwy&nbsp;94)</p>
				</div>
			<div class="ui item">
				<p class="furusho purple-txt">
				New Patients: <a href="tel:+18885407885" class="furusho purple-txt"><b>(888) 540-7885</b></a></p>
			</div>
				<div class="ui item">
					<p class="ui description">
						Existing Patients: <a href="tel:+17735450007"><span>(773) 545-0007</span></a>
					</p></div>
			</div>
		</div>
	</div>
</header>
<!--
	/#primary-header
-->
