<!-- 
	Header: Primary Header
-->
<header id="primary-header" class="">
	<div class="ui container">
		<div class="ui padded grid">
			<div class="ui row">
				<div class="ui nine wide column">
					<img src="/img/furusho-masthead-logo.png" alt="Dentistry for Kids logo">
				</div>
				<div class="ui six wide column">
					<ul class="ui list">
						<li class="ui item"><h3 class="font-accent-green">Just off Edens Expressway (Hwy&nbsp;94)</h3></li>
					<li class="ui item"><h3 class="font-accent-purple">
						New Patients: <a href="tel:+18885407885"><b>(888) 540-7885</b></a></h3></li>
						<li class="ui item"><h3>
						Existing Patients: <a href="tel:+17735450007">(773) 545-0007</a>
							</h3></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- 
	/#primary-header
-->