<!-- 
	Nav: Primary Nav
-->
<nav id="primary-nav" class="ui fluid seven item menu">
		<li class="ui item">
			<a href="index.html#section-specials" class="furusho yellow-txt uppercase-txt">New Patient Specials</a>
		</li>
		<li class="ui item">
			<a href="index.html#section-reviews" class="furusho light-green-txt uppercase-txt">Patient Reviews</a>
		</li>
		<li class="ui item">
			<a href="/meet-the-team/" class="furusho white-txt uppercase-txt">Meet the Team</a>
		</li>
		<li class="ui item">
			<a href="/patients/" class="furusho white-txt uppercase-txt">Patients</a>
		</li>		
		<li class="ui item">
			<a href="/services/" class="furusho white-txt uppercase-txt">Services</a>
		</li>		
		<li class="ui item" >
			<a href="/infant-frenectomy/" class="furusho white-txt uppercase-txt">Infant Frenectomy</a>
		</li>
		<li class="ui item" >
			<a href="/contact/" class="furusho white-txt uppercase-txt">Contact</a>
		</li>		
</nav>
<!-- 
	/#primary-nav
-->