<!--
	Section: Questions and Answers
-->
<section id="questions-answers" class="ui furusho lightgray-bg">

  <div class="ui container">
    <div class="ui padded grid">

      <div class="ui row">
        <div class="ui sixteen wide center aligned column">
          <h2 class="ui furusho purple-txt">Parent Questions <br>& Answers</h2>
        </div>
      </div>

      <div class="ui row">
				        <div class="ui sixteen wide left aligned column">
        <div class="ui accordion">

          {% for item in site.data.questions.items %}

          <div class="title {% if !forloop.first %}first{% endif%}">
            <i class="fa fa-check-square-o fa-fw"></i>
            {{ item.question }}
          </div>
          <div class="content">
            {% for answer in item.answers %}
            <p class="qa__answer transition hidden">{{ answer }}</p>
            {% endfor %}
          </div>

          {% endfor %}

        </div>
      </div>

    </div>
  </div>

</section>
<!--
	/#questions-answers
-->