<!--
	Section: Questions and Answers
-->
<section id="questions-answers" class="ui furusho light-blue-bg">

  <div class="ui container">
    <div class="ui padded grid">

      <div class="ui row">
        <div class="ui sixteen wide center aligned column">
          <h2 class="ui furusho purple-txt">The First Dental Visit</h2>
        </div>
      </div>

      <div class="ui row">
        <div class="ui styled accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            What is a dog?
          </div>
          <div class="content">
            <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            What kinds of dogs are there?
          </div>
          <div class="content">
            <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            How do you acquire a dog?
          </div>
          <div class="content">
            <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
            <p class="transition hidden">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<!--
	/#questions-answers
-->