
{% for item in site.data.team.items %}

<div class="ui standard {{ item.modalId }} modal">
  <i class="close icon"></i>
  <div class="header">
    {{ item.name }}
  </div>
  <div class="content">
    <!--<div class="ui medium image">-->
      <!--<img src="/images/avatar/large/chris.jpg">-->
    <!--</div>-->
    <div class="description">
        <p class="">{{ item.text }}</p>
    </div>
  </div>
  <!--<div class="actions">-->
    <!--<div class="ui black deny button">-->
      <!--Nope-->
    <!--</div>-->
    <!--<div class="ui positive right labeled icon button">-->
      <!--Yep, that's me-->
      <!--<i class="checkmark icon"></i>-->
    <!--</div>-->
  <!--</div>-->
</div>

{% endfor %}
