<section class="team-additional background-light-purple">
  <div class="team-slider">
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#adam">
        <img src="img/bios/adam-bio.jpg" alt="adam">
        <h5>Adam</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#berman">
        <img src="img/bios/berman-bio.jpg" alt="berman">
        <h5>Berman</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#cassidy">
        <img src="img/bios/cassidy-bio.jpg" alt="cassidy">
        <h5>Cassidy</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#deneaqua">
        <img src="img/bios/deneaqua-bio.jpg" alt="deneaqua">
        <h5>Deneaqua</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#letticia">
        <img src="img/bios/letticia-bio.jpg" alt="letticia">
        <h5>Letticia</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#marisela">
        <img src="img/bios/marisela.jpg" alt="marisela">
        <h5>Marisela</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#michael">
        <img src="img/bios/michael-bio.jpg" alt="michael">
        <h5>Michael</h5>
      </a>
    </div>
    <div class="team-member">
      <a href="#" data-toggle="modal" data-target="#tanisha">
        <img src="img/bios/tanisha-bio.jpg" alt="tanisha">
        <h5>Tanisha</h5>
      </a>
    </div>
  </div>

</section>