<section id="team-members" class="ui furusho light-purple-bg">
  <div class="ui container">
    <!--<div class="ui padded grid">-->

    <div id="Glide" class="glide">

      <div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
        <button class="glide__arrow next" data-glide-dir=">">next</button>
      </div>

      <div class="glide__wrapper">
        <ul class="glide__track">
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">

                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/adam-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/berman-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/cassidy-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/deneaqua-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">

                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/letticia-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/marisela.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/michael-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/tanisha-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
      <div class="glide__bullets"></div>
    </div>

    <!--end glide desktop-->

    <!--start tablet glide-->

    <div id="Glide-tablet" class="glide">

      <div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
        <button class="glide__arrow next" data-glide-dir=">">next</button>
      </div>

      <div class="glide__wrapper">
        <ul class="glide__track">
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">

                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/adam-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/berman-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/cassidy-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/deneaqua-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">

                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/letticia-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/marisela.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/michael-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/tanisha-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
      <div class="glide__bullets"></div>
    </div>

    <!--end tablet glide-->
    <!--start mobile glide-->

    <div id="Glide-mobile" class="glide">

      <div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
        <button class="glide__arrow next" data-glide-dir=">">next</button>
      </div>

      <div class="glide__wrapper">
        <ul class="glide__track">
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">

                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/adam-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/berman-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/cassidy-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/deneaqua-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>


          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">

                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/letticia-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/marisela.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/michael-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="ui padded grid">
              <div class="sixteen wide column">
                <div class="ui cards">
                  <!--<div class="ui four wide column">-->
                  <div class="ui card">
                    <div class="ui slide masked reveal image">
                      <img src="/img/bios/tanisha-bio.jpg" class="visible content">
                    </div>
                    <div class="center aligned content">
                      <p class="ui furusho purple-txt">First Last</p>
                    </div>
                  </div>
                  <!--</div>-->
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
      <div class="glide__bullets"></div>
    </div>

  <!--end mobile glide-->

  </div>
</section>
